# This is Git's per-user configuration file.

[user]
	name = Roman Shtemberko
	email = shtemberko@gmail.com
[alias]
	st = status
	stq = status --ignore-submodules
	addp = add --patch
	ci = commit
	lg = log --oneline --graph --decorate
	br = branch
	co = checkout
	sup = submodule update
	cp = cherry-pick
[difftool]
	tool = meld
	prompt = false
[core]
	editor = vim


#mac os specific
[apply]
	whitespace = nowarn
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
