# This is Git's per-user configuration file.
[includeIf "gitdir:~"] # Path to personal "repos"
	path = .gitconfig-personal
[includeIf "gitdir:~/coder_inc/repos"] # Path to work root "repos"
	path = .gitconfig-work
[alias]
	st = status
	stq = status --ignore-submodules
	addp = add --patch
	ci = commit
	lg = log --oneline --graph --decorate
	br = branch
	co = checkout
	sup = submodule update
	cp = cherry-pick
[diff]
	tool = meld
	prompt = false
[core]
	editor = vim
	autocrlf = input
	longpaths = true
	symlinks = true

[init]
	defaultBranch = main

#mac os specific
[apply]
	whitespace = nowarn
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = green reverse
	local = green
	remote = yellow
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = green
	changed = magenta
	untracked = cyan
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
